<div class="sidebar animated fadeInDown">
  <div class="logo-title">
    <div class="title">
      <img
        alt="Logo"
        class="inline-block"
        src="https://ryanc.cc/upload/2022/05/github-avatar.png"
        style="width: 127px ;border-radius:50%"
      />
      <h3 class="!mt-3 !mb-0">
        <a href="/" title="Ryan Wang's Blog">Ryan Wang's Blog</a>
      </h3>
      <div class="description mt-2">
        <p class="description-text"></p>
      </div>
    </div>
  </div>
  <ul class="social-links mt-1">
    <li>
      <a href="https://ryanc.cc/feed.xml" target="_blank" title="订阅">
        <i class="inline-block h-4 w-4 i-mdi-rss"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/ruibaby" target="_blank" title="GitHub">
        <i class="inline-block h-4 w-4 i-mdi-github"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/ryanwang_ya" target="_blank" title="Twitter">
        <i class="inline-block h-4 w-4 i-mdi-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://t.me/ruibaby" target="_blank" title="Telegram">
        <i class="inline-block h-4 w-4 i-mdi-telegram"></i>
      </a>
    </li>
    <li>
      <a href="mailto:i@ryanc.cc" target="_blank" title="邮箱">
        <i class="inline-block h-4 w-4 i-mdi-email"></i>
      </a>
    </li>
  </ul>
  <div class="footer">
    <a target="_blank" href="#"> </a><a href="https://www.caicai.me"
      >Designed by CaiCai</a
    >
    <div class="by_halo">
      <a href="https://halo.run" target="_blank">Proudly published with Halo</a>
    </div>
    <div class="footer_text">
      <script
        async=""
        defer=""
        data-website-id="7bf5d248-be4b-4748-84a9-776c7399f81a"
        src="https://analytics.halo.run/umami.js"
      ></script>
      <a href="https://beian.miit.gov.cn" target="_blank">
        蜀ICP备2022010816号
      </a>
      <p></p>
      <script>
        console.log(
          "%c    __  __      __\n" +
            "   / / / /___ _/ /___\n" +
            "  / /_/ / __ `/ / __ \\\n" +
            " / __  / /_/ / / /_/ /\n" +
            "/_/ /_/\\__,_/_/\\____/ %c v2.2.1 🌚 https://github.com/halo-dev/halo",
          "color:#4571ca;",
          "color:red"
        );
      </script>
    </div>
  </div>
</div>
