---
import PageTop from "../components/PageTop.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/style.scss";
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{[title, "Ryan Wang's Blog"].filter(Boolean).join(" - ")}</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="atom 1.0"
      href="/rss.xml"
    />
  </head>

  <body>
    <Sidebar />
    <div class="main">
      <PageTop />
      <div class="content">
        <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  .sidebar {
    width: 30%;
  }

  .page-top {
    width: calc(100% - 30%);
  }

  .content {
    width: calc(100% - 30%);
  }
  .sidebar {
    background: url("https://ryanc.cc/upload/2022/05/wallhaven-j35vvm.jpg")
      no-repeat center center fixed;
  }
</style>
